{% extends '../base.html' %}


{% block title %}
Inicio del blog
{% endblock title %}

{% block content %}
<div class="row my-5 d-flex justify-content-center">
    <div class="col-sm-12 col-md-8">
        {% for post in object_list %}
        <div class="card mt-4">
            <div class="card-body card-colors">
                <a href="{% url 'article-detail' post.pk %}" class="text-decoration-none">
                    <h5 class="card-title">{{post.title}}</h5>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">Por <i>{{post.author.first_name}}
                        {{post.author.last_name}}</i> en <a class="text-decoration-none"
                        href="{% url 'category-post' post.category.id %}"><i>{{post.category}}</i></a></h6>
                <p class="card-text">{{post.body|safe|slice:":200"}}...</p>
                <h6 class="card-subtitle mb-2 text-muted float-end mt-2">Publicado el {{post.created_at}}</h6>
                {% if user.is_authenticated %}
                <a class="btn btn-sm btn-secondary" href="{% url 'update-post' post.pk %}">Editar</a>
                <a class="btn btn-sm btn-warning" href="{% url 'delete-post' post.pk %}">Eliminar</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}