{% extends '../base.html' %}

{% block blockname %}
Edita tus post
{% endblock blockname %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="row mt-5 justify-content-center">
    <div class="col-4">
        <h3 class="card-title">Edita aquí tu post</h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4">
        <form method="post">{% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <button class="boton mt-2" style="height: 40px; width: 70px;" type="submit">Editar</button>
        </form>
    </div>
</div>
{% else %}
<div class="row my-5">
    <div class="col">
        <h3 class="card-title">No tienes permiso para ver este contenido</h3>
    </div>
</div>
{% endif %}
{% endblock content %}